<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현인의 서재</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <style>
        #selectedBookForm {
            display: none;
            font-family: 'SeoulNamsanM', sans-serif;
        }
        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-family: 'SeoulNamsanM', sans-serif;
        }

        .book-item {
            margin-bottom: 20px;
        }

        .book-image {
            width: 220px;
            height: 250px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar(${selectedMenu}, ${isAdmin})}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3 style="margin-top: 50px; margin-bottom: 30px; margin-left: 20px; font-family: SeoulNamsanM">신규 도서
                    추가</h3>
            </div>
            <form id="searchForm" class="center-content">
                <div class="btn-toolbar mb-2 mb-md-2">
                    <div class="input-group text-center">
                        <input type="text" class="form-control mb-7 mx-auto" style="width: 350px;" id="keyword"
                               placeholder="추가할 도서의 키워드를 입력해주세요">
                        <div>
                            <button class="btn btn-outline-primary mx-auto" id="btn-search-api" type="submit">검색
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 모달 창 -->
            <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="bookModalLabel">도서 선택</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- 도서 정보 출력을 위한 반복문 -->
<!--                                                        <div th:each="book : ${books}" class="book-item">-->
<!--                            <h5 class="book-title" text="book.title"></h5>-->
<!--                            <img class="book-image" src="" alt="Book Image">-->
<!--                            <p class="book-isbn" text="book.isbn"></p>-->
<!--                            <p class="book-author" text="book.author"></p>-->
<!--                            <p class="book-publisher" text="book.publisher"></p>-->
<!--                            <p class="book-description" text="book.description" type="hidden"></p>-->
<!--                            <p class="book-pubDate" text="book.pubDate"></p>-->
<!--                            <button type="button" class="btn btn-primary btn-select-book">선택</button>-->


                            <!--                            </div>-->
                            <!--                            </div>-->
<!--                            <div th:each="book : ${books}" class="book-item">-->
<!--                                <h5 class="book-title" th:text="${book.title}"></h5>-->
<!--                                <p class="book-isbn" th:text="'isbn: ' + ${book.isbn}"></p>-->
<!--                                <p class="book-author" th:text="'저자: ' + ${book.author}"></p>-->
<!--                                <p class="book-publisher" th:text="'출판사: ' + ${book.publisher}"></p>-->
<!--                                <p class="book-image" th:text="'이미지: ' + ${book.image}"></p>-->
<!--                                <p class="book-description" th:text="'설명: ' + ${book.description}"></p>-->
<!--                                <p class="book-pubDate" th:text="'설명: ' + ${book.pubDate}"></p>-->
<!--                                <button type="button" class="btn btn-primary btn-select-book">선택</button>-->
<!--                                &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                                                        </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-primary btn-cancel-selection"-->
<!--                                        data-bs-dismiss="modal">닫기-->
<!--                                </button>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- 선택한 책 정보를 담을 폼 -->
            <div class="center-content">
                <form id="selectedBookForm" th:action="@{/admin/new-book}" method="post" class="form-group">
                    <div class="form-group center-content">
                        <div>
                            <label for="selectedBookIsbn" class="label-style">ISBN:</label>
                            <input type="text" id="selectedBookIsbn" name="isbn" th:value="${saveBookRequest.isbn}"
                                   readonly>
                        </div>
                        <div>
                            <label for="selectedBookTitle" class="label-style">제목:</label>
                            <input type="text" id="selectedBookTitle" name="title" th:value="${saveBookRequest.title}"
                                   readonly>
                        </div>
                        <div>
                            <label for="selectedBookAuthor" class="label-style">저자:</label>
                            <input type="text" id="selectedBookAuthor" name="author"
                                   th:value="${saveBookRequest.author}" readonly>
                        </div>
                        <div>
                            <label for="selectedBookPublisher" class="label-style">출판사:</label>
                            <input type="text" id="selectedBookPublisher" name="publisher"
                                   th:value="${saveBookRequest.publisher}" readonly>
                        </div>
                        <input type="hidden" id="selectedBookDescription" name="description"
                               th:value="${saveBookRequest.description}">
                        <input type="hidden" id="selectedBookImage" name="image" th:value="${saveBookRequest.image}">
                        <div>
                            <label for="selectedBookPubDate" class="label-style">출판일:</label>
                            <input type="text" id="selectedBookPubDate" name="pubDate"
                                   th:value="${saveBookRequest.pubDate}" readonly>
                        </div>
                        <div>
                            <label for="quantity">재고 수량:</label>
                            <input class="label-style" type="number" id="quantity" name="quantity" min="1" max="9999"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">도서 추가</button>
                    </div>
                </form>
            </div>
        </main>

    </div>
</div>
</body>
</html>

</body>
</html>
