<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현인의 서재</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar(${selectedMenu})}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3 style="margin-top: 50px; margin-bottom: 30px; margin-left: 20px; font-family: SeoulNamsanM">도서 요청
                    목록</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="table-book-list">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 6%; text-align: center">요청자</th>
                        <th scope="col" style="width: 10%; text-align: center">ISBN</th>
                        <th scope="col" style="width: 25%; text-align: center">제목</th>
                        <th scope="col" style="width: 15%; text-align: center">저자</th>
                        <th scope="col" style="width: 17%; text-align: center">출판사</th>
                        <th scope="col" style="width: 10%; text-align: center">신청일</th>
                        <th scope="col" style="width: 7%; text-align: center">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requestHistory}">
                        <td th:text="${request.member.name}" style="text-align: center; padding-top: 40px"></td>
                        <td th:text="${request.bookInfo.isbn}" style="text-align: center; padding-top: 40px"></td>
                        <td th:text="${request.bookInfo.title}" style="text-align: center; padding-top: 35px"></td>
                        <td th:text="${request.bookInfo.author}" style="text-align: center; padding-top: 40px"></td>
                        <td th:text="${request.bookInfo.publisher}" style="text-align: center; padding-top: 40px"></td>
                        <td th:text="${request.requestedAt}" style="text-align: center; padding-top: 40px"></td>
                        <td>
                            <div class="btn-group me-2" th:if="${!request.isApproved}">
                                <button type="button" class="btn btn-sm btn-outline-primary"
                                        style="margin-top: 30px;margin-left: 20px">접수
                                </button>
                            </div>
                            <div class="btn-group me-2" th:if="${request.isApproved}">
                                <button type="button" class="btn btn-sm btn-outline-success"
                                        style="margin-top: 30px;margin-left: 20px"
                                        disabled="disabled">처리 완료
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


</body>
</html>
