<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현인의 서재</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar(${selectedMenu})}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3 style="margin-top: 50px; margin-bottom: 30px; margin-left: 20px; font-family: SeoulNamsanM">도서 요청
                    목록</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="table-book-list">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 8%; text-align: center">요청자</th>
                        <th scope="col" style="width: 25%; text-align: center">제목</th>
                        <th scope="col" style="width: 13%; text-align: center">저자</th>
                        <th scope="col" style="width: 7%; text-align: center">신청일</th>
                        <th scope="col" style="width: 14%; text-align: center">상태</th>
                        <th scope="col" style="width: 8%; text-align: center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requestHistory}">
                        <td th:text="${request.member.name}" class="text-center" style="padding-top: 30px"></td>
                        <td th:text="${request.bookInfo.title}" class="text-center" style="padding-top: 25px"></td>
                        <td th:text="${request.bookInfo.author}" class="text-center" style="padding-top: 30px"></td>
                        <td th:text="${request.requestedAt}" class="text-center" style=" padding-top: 30px"></td>
                        <td class="text-center">
                            <div class="btn-group me-2" style="margin-top: 15px;">
                                <div th:if="${!request.isApproved}">
                                    <button type="button" class="btn btn-sm btn-outline-primary" disabled>요청중</button>
                                </div>
                                <div th:if="${request.isApproved}">
                                    <button type="button" class="btn btn-sm btn-outline-success" disabled>입고완료
                                    </button>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary view-details-btn"
                                        data-toggle="modal" data-target="#detailsModal"
                                        th:data-member-name="${request.member.name}"
                                        th:data-member-email="${request.member.loginId}"
                                        th:data-book-isbn="${request.bookInfo.isbn}"
                                        th:data-book-image="${request.bookInfo.image}"
                                        th:data-book-title="${request.bookInfo.title}"
                                        th:data-book-author="${request.bookInfo.author}"
                                        th:data-book-publisher="${request.bookInfo.publisher}"
                                        th:data-request-status="${request.isApproved}"
                                        th:data-requested-at="${#temporals.format(request.requestedAt, 'yyyy-MM-dd')}"
                                        th:data-request-reason="${request.requestReason}">
                                    자세히 보기
                                </button>
                            </div>
                        </td>
                        <td class="text-center">
                            <div th:if="${!request.isApproved}" style="margin-top: 15px;">
                            <button type="button" class="btn btn-sm btn-outline-primary stock-modal-trigger"
                                    data-toggle="modal" data-target="#stockModal"
                                    th:data-request-id="${request.id}"
                                    th:data-book-isbn="${request.bookInfo.isbn}">
                                입고 처리하기
                            </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<!--도서 요청 입고 처리시 재고 수량 입력 모달창-->
<div class="modal fade" id="stockModal" tabindex="-1" role="dialog" aria-labelledby="stockModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stockModalLabel">입고 처리</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="stockForm" method="post">
<!--                    <input type="hidden" id="addRequestId">-->
                    <input type="hidden" id="addBookIsbn" , name="isbn">
                    <div class="mb-3">
                        <label for="quantity" class="form-label">수량: </label>
                        <input type="number" class="label-style" id="quantity" name="quantity" min="1" max="9999"
                               required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="confirmButton">확인</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--도서 요청 상세 정보 모달창-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">도서 요청 상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>이름: <span id="memberName"></span></h6>
                <h6>이메일: <span id="memberEmail"></span></h6>
                <hr>
                <img id="bookImage" src="" alt="Book Image"
                     style="max-height: 140px; max-width: 180px; margin-left: 40px"/>
                <h6>ISBN: <span id="bookIsbn"></span></h6>
                <h6>제목: <span id="bookTitle"></span></h6>
                <h6>저자: <span id="bookAuthor"></span></h6>
                <h6>출판사: <span id="bookPublisher"></span></h6>
                <hr>
                <h6>처리상태: <span id="requestStatus"></span></h6>
                <h6>신청일: <span id="requestedAt"></span></h6>
                <h6>신청사유:</h6>
                <textarea id="requestReason" rows="4" style="width: 100%; resize: none;" readonly></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 페이징 처리 -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li th:class="${requestHistory.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">
            <a class="page-link" th:if="${requestHistory.getNumber() != 0}" th:href="@{/books(page=${requestHistory.getNumber() - 1})}" aria-label="Previous">
                <span class="sr-only">Previous</span>
            </a>
            <span class="page-link" th:if="${requestHistory.getNumber() == 0}" aria-disabled="true" aria-label="Previous">
                <span class="sr-only">Previous</span>
            </span>
        </li>
        <li th:each="page : ${requestHistory.getTotalPages() > 0 ? #numbers.sequence(1, requestHistory.getTotalPages()) : null}" th:class="${page - 1 == requestHistory.getNumber() ? 'page-item active' : 'page-item'}">
            <a class="page-link" th:href="@{/admin/request(page=${page - 1})}" th:text="${page}"></a>
        </li>
        <li th:class="${requestHistory.getNumber() == requestHistory.getTotalPages() - 1 && requestHistory.getTotalPages() > 1 ? 'page-item disabled' : 'page-item'}">
            <a class="page-link" th:if="${requestHistory.getNumber() != requestHistory.getTotalPages() - 1 && requestHistory.getTotalPages() > 1}" th:href="@{/admin/request(page=${requestHistory.getNumber() + 1})}" aria-label="Next">
                <span class="sr-only">Next</span>
            </a>
            <span class="page-link" th:if="${requestHistory.getNumber() == requestHistory.getTotalPages() - 1 && requestHistory.getTotalPages() > 1}" aria-disabled="true" aria-label="Next">
                <span class="sr-only">Next</span>
            </span>
        </li>
    </ul>
</nav>

<script>
    $(document).ready(function () {
        $('.view-details-btn').click(function () {
            let memberName = $(this).data('member-name');
            let memberEmail = $(this).data('member-email');
            let bookIsbn = $(this).data('book-isbn');
            let bookImage = $(this).data('book-image');
            let bookTitle = $(this).data('book-title');
            let bookAuthor = $(this).data('book-author');
            let bookPublisher = $(this).data('book-publisher');
            let requestedAt = $(this).data('requested-at');
            let requestReason = $(this).data('request-reason');
            let requestStatus = $(this).data('request-status');

            $('#memberName').text(memberName);
            $('#memberEmail').text(memberEmail);
            $('#bookIsbn').text(bookIsbn);
            $('#bookImage').attr('src', bookImage);
            $('#bookTitle').text(bookTitle);
            $('#bookAuthor').text(bookAuthor);
            $('#bookPublisher').text(bookPublisher);
            $('#requestedAt').text(requestedAt);
            $('#requestReason').val(requestReason);
            if (requestStatus) {
                $('#requestStatus').text('입고 완료');
            } else {
                $('#requestStatus').text('요청중');
            }
        });
        $('.stock-modal-trigger').click(function () {
            // let addRequestId = $(this).data('request-id');
            let addBookIsbn = $(this).data('book-isbn');

            // $('#addRequestId').val(addRequestId);
            $('#addBookIsbn').val(addBookIsbn);
            $('#quantity').val('');
            $('#stockModal').modal('show');
        });
        // $('#stockModal').modal({
        //     backdrop: true,
        //     keyboard: true
        // });
        $('#stockModal').on('hidden.bs.modal', function () {
            $('#addBookIsbn').val('');
            $('#quantity').val('');
        });
        $('.close, [data-dismiss="modal"]').click(function () {
            hideModal();
        });
        function hideModal() {
            $('#stockModal').modal('hide');
        }
        $('#stockModal').on('click', '#confirmButton', function () {
            let quantity = $('#quantity').val();
            if (quantity === '') {
                alert('입고 수량을 입력해주세요.');
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/admin/new-book',
                data: {
                    isbn: $('#addBookIsbn').val(),
                    quantity: quantity
                },
                success: function (response) {
                    alert('도서가 추가되었습니다.');
                    hideModal();
                    location.reload();
                },
                error: function (xhr, status) {
                    console.log('도서 추가 오류 발생:', xhr);
                    console.log(status);
                    alert(xhr.responseText);
                }
            });
        });
    });
</script>
</body>
</html>
