<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현인의 서재</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar(${selectedMenu}, ${isAdmin})}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h6 th:text="'총 ' + ${totalCount} + '권이 있어요!'"></h6>
                <form th:action="@{/book/search}" method="get">
                    <div class="btn-toolbar mb-2 mb-md-2">
                        <div class="input-group">
                            <input type="text" class="form-control mb-7" style="width: 250px;" id="keyword"
                                   placeholder="제목 또는 저자를 입력해주세요">
                            <div>
                                <button type="submit" class="btn btn-outline-primary">검색</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="table-book-list">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 20%"></th>
                        <th scope="col" style="width: 70%"></th>
                        <!--                        <th scope="col" style="width: 30%">제목</th>-->
                        <!--                        <th scope="col" style="width: 20%">저자</th>-->
                        <!--                        <th scope="col" style="width: 20%">출판사</th>-->
                        <th scope="col" style="width: 20%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td>
                            <img th:src="${book.bookInfo.image}" alt="Book Image"
                                 style="max-height: 220px; max-width: 270px;"/>
                        </td>
                        <td>
                            <div>
                                <span th:text="${book.bookInfo.title}"
                                      style="text-align: center; font-size: 20px; font-weight: bold; font-family: 'Pretendard-Regular';"></span>
                            </div>
                            <div style="margin-top: 15px; margin-bottom: 30px">
                                <span style="text-align: center; font-size: 16px;">
                                    <span th:text="${book.bookInfo.author}"></span>
                                    &nbsp;|&nbsp;
                                    <span th:text="${book.bookInfo.publisher}"></span>
                                    &nbsp;|&nbsp;
                                    <span th:text="${book.bookInfo.pubDate}"></span>
                                </span>
                            </div>
                            <div>
                                <span class="description" th:text="${book.bookInfo.description}"
                                      style="text-align: center; opacity: 0.8;"></span>
                            </div>
                        </td>
                        <td>
                            <input type="hidden" th:value="${book.id}"/>
                            <button type="button" class="btn btn-sm btn btn-outline-primary loan-book-btn"
                                    th:if="${book.loanableCnt > 0}"
                                    style="margin-top: 70px;">대출하기
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger" disabled="disabled"
                                    th:unless="${book.loanableCnt > 0}"
                                    style="margin-top: 70px;">대출불가
                            </button>
                            <button type="button" class="btn btn-sm like-book-btn" style="margin-top: 20px; margin-left: 10px; border-color: hotpink;">
                                <span class="like-book-icon" style="color: hotpink">&#x2661;</span>
                                <span class="like-book-text" style="color: #463f3f">찜</span>
                            </button>

                        </td>
                    </tr>

                    <!--                    <tr th:each="book : ${books}">-->
                    <!--                        <td>-->
                    <!--                            <img th:src="${book.bookInfo.image}" alt="Book Image" style="max-height: 220px; max-width: 270px;" />-->
                    <!--                        </td>-->
                    <!--                        <td th:text="${book.bookInfo.title}" style="text-align: center"></td>-->
                    <!--                        <td th:text="${book.bookInfo.author}" style="text-align: center"></td>-->
                    <!--                        <td th:text="${book.bookInfo.publisher}" style="text-align: center"></td>-->
                    <!--&lt;!&ndash;                        <td style="text-align: center">&ndash;&gt;-->
                    <!--&lt;!&ndash;                            <span th:text="${book.quantity - book.loanableCnt} + ' / ' + ${book.loanableCnt}"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;                        </td>&ndash;&gt;-->
                    <!--                        <td>-->
                    <!--                            <input type="hidden" th:value="${book.id}" />-->
                    <!--                            <button type="button" class="btn btn-sm btn-outline-danger loan-book-btn"-->
                    <!--                                    th:if="${book.loanableCnt > 0}"-->
                    <!--                                    style="margin: 0 auto;">대출하기</button>-->
                    <!--                            <button type="button" class="btn btn-sm btn-outline-danger" disabled="disabled"-->
                    <!--                                    th:unless="${book.loanableCnt > 0}"-->
                    <!--                                    style="margin: 0 auto;">대출불가</button>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    </tbody>
                </table>
            </div>
            <!-- TODO: 페이징 처리 -->
        </main>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let descriptionElements = document.getElementsByClassName("description");
        let maxLength = 165;

        for (let i = 0; i < descriptionElements.length; i++) {
            let descriptionElement = descriptionElements[i];
            if (descriptionElement.textContent.length > maxLength) {
                var shortenedText = descriptionElement.textContent.substring(0, maxLength) + "...";
                descriptionElement.textContent = shortenedText;
            }
        }

        let likeButtons = document.getElementsByClassName("like-book-btn");
        for (let i = 0; i < likeButtons.length; i++) {
            let likeButton = likeButtons[i];
            likeButton.addEventListener("click", function () {
                let bookId = this.previousElementSibling.value;
                let isLiked = this.classList.contains("liked");

                if (isLiked) {
                    unlikeBook(bookId, this);
                } else {
                    likeBook(bookId, this);
                }
            });
        }
    });

    function likeBook(bookId, button) {
        fetch(`/book/like/${bookId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({bookId: bookId})
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    button.classList.add("liked");
                    button.querySelector(".like-book-text").textContent = "찜 해제";
                    button.querySelector(".like-book-icon").style.color = "hotpink";
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function unlikeBook(bookId, button) {
        fetch(`/book/unlike/${bookId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ bookId: bookId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    button.classList.remove("liked");
                    button.style.borderColor = "";
                    button.querySelector(".like-book-text").textContent = "찜";
                    button.querySelector(".like-book-icon").style.color = "#463f3f";
                }
            })
            .catch(error => console.error('Error:', error));
    }

</script>

</body>
</html>
