<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현인의 서재</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar(${selectedMenu})}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3 style="margin-top: 50px; margin-bottom: 30px; margin-left: 20px; font-family: SeoulNamsanM">도서 신청
                    내역</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 15%; text-align: center">이미지</th>
                        <th scope="col" style="width: 23%; text-align: center">제목</th>
                        <th scope="col" style="width: 18%; text-align: center">저자</th>
                        <th scope="col" style="width: 12%; text-align: center">신청일</th>
                        <th scope="col" style="width: 15%; text-align: center">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="history : ${requestHistory}">
                        <td>
                            <img th:src="${history.bookInfo.image}" alt="Book Image"
                                 style="max-height: 140px; max-width: 180px; margin-left: 40px"/>
                        </td>
                        <td th:text="${history.bookInfo.title}" class="text-center" style="padding-top: 45px"></td>
                        <td th:text="${history.bookInfo.author}" class="text-center" style="padding-top: 60px"></td>
                        <td th:text="${#temporals.format(history.requestedAt, 'yyyy-MM-dd')}"
                            class="text-center" style="padding-top: 60px"></td>
                        <td class="text-center">
                            <div class="btn-group me-2"  style="margin-top: 50px">
                                <div th:if="${!history.isApproved}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" disabled>접수</button>
                                </div>
                                <div th:if="${history.isApproved}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" disabled>입고 완료
                                    </button>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary view-details-btn"
                                        data-toggle="modal" data-target="#detailsModal"
                                        th:data-book-title="${history.bookInfo.title}"
                                        th:data-request-status="${history.isApproved}"
                                        th:data-requested-at="${#temporals.format(history.requestedAt, 'yyyy-MM-dd')}"
                                        th:data-request-reason="${history.requestReason}">
                                    자세히 보기
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">희망도서 신청사유</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>제목: <span id="bookTitle"></span></h6>
                <h6>처리상태: <span id="requestStatus"></span></h6>
                <hr>
                <h6>신청일: <span id="requestedAt"></span></h6>
                <h6>신청사유:</h6>
                <textarea id="requestReason" rows="4" style="width: 100%; resize: none;" readonly></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.view-details-btn').click(function () {
            let bookTitle = $(this).data('book-title');
            let requestedAt = $(this).data('requested-at');
            let requestReason = $(this).data('request-reason');
            let requestStatus = $(this).data('request-status');

            $('#bookTitle').text(bookTitle);
            $('#requestedAt').text(requestedAt);
            $('#requestReason').val(requestReason);
            if (requestStatus) {
                $('#requestStatus').text('입고 완료');
            } else {
                $('#requestStatus').text('접수');
            }
        });
    });
</script>
</body>
</html>
