<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현인의 서재</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/bookmark.css}">
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        let errorMessage = /*[[${errorMessage}]]*/ null;
        let successMessage = /*[[${successMessage}]]*/ null;
        if (errorMessage) {
            alert(errorMessage);
        }
        if (successMessage) {
            alert(successMessage);
        }
    </script>
</head>
<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar(${selectedMenu})}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3 style="margin-top: 50px; margin-bottom: 30px; margin-left: 20px; font-family: SeoulNamsanM">검색
                    결과</h3>
            </div>
            <h6>
                <span th:text="'총 ' + ${books.totalElements} + '권의 검색 결과가 있습니다.'"></span>
            </h6>
            <div class="table-responsive">
                <table class="table table-hover" id="table-book-list">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 20%; border-bottom: none"></th>
                        <th scope="col" style="width: 70%; border-bottom: none"></th>
                        <th scope="col" style="width: 20%; border-bottom: none"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td>
                            <img th:src="${book.bookInfo.image}" alt="Book Image"
                                 style="max-height: 220px; max-width: 270px;"/>
                        </td>
                        <td>
                            <div>
                                <a th:href="@{/books/{bookId}(bookId=${book.id})}" style="text-align: center; font-size: 20px; font-weight: bold; font-family: 'Pretendard-Regular'; cursor: pointer;
                                    text-decoration: none;">
                                    <span th:text="${book.bookInfo.title}"></span>
                                </a>
                            </div>
                            <div style="margin-top: 15px; margin-bottom: 30px">
                                <span style="text-align: center; font-size: 16px;">
                                    <span th:text="${book.bookInfo.author}"></span>
                                    &nbsp;|&nbsp;
                                    <span th:text="${book.bookInfo.publisher}"></span>
                                    &nbsp;|&nbsp;
                                    <span th:text="${book.bookInfo.pubDate}"></span>
                                </span>
                            </div>
                            <div>
                                <span class="description" th:text="${book.bookInfo.description}"
                                      style="text-align: center; opacity: 0.8;"></span>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group-vertical">
                                <form th:action="@{/books/{bookId}(bookId=${book.id})}" method="get">
                                    <input type="hidden" name="bookId" th:value="${book.id}"/>
                                    <button type="submit" class="btn btn-sm btn btn-outline-primary loan-book-btn"
                                            th:if="${book.loanableCnt > 0}" style="margin-top: 70px;margin-left: 15px">
                                        대출하러<br>가기
                                    </button>
                                </form>
                                <button type="button" class="btn btn-sm btn-outline-dark" disabled="disabled"
                                        th:unless="${book.loanableCnt > 0}"
                                        style="margin-top: 70px; margin-left: 10px">대출불가
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>

<!-- 페이징 처리 -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li th:class="${books.getNumber() == 0 ? 'page-item disabled' : 'page-item'}">

            <a class="page-link" th:if="${books.getNumber() != 0}"
               th:href="@{/books/search(keyword=${param.keyword},page=${books.getNumber() - 1}, before=${param.before})}"
               aria-label="Previous">
                <span class="sr-only">Previous</span>
            </a>
            <span class="page-link" th:if="${books.getNumber() == 0}" aria-disabled="true" aria-label="Previous">
                <span class="sr-only">Previous</span>
            </span>
        </li>
        <li th:each="page : ${books.getTotalPages() > 0 ? #numbers.sequence(1, books.getTotalPages()) : null}"
            th:class="${page - 1 == books.getNumber() ? 'page-item active' : 'page-item'}">
            <a class="page-link" th:href="@{/books/search(keyword=${param.keyword}, page=${page - 1}, before=${param.before})}"
               th:text="${page}"></a>
        </li>
        <li th:class="${books.getNumber() == books.getTotalPages() - 1 && books.getTotalPages() > 1 ? 'page-item disabled' : 'page-item'}">
            <a class="page-link" th:if="${books.getNumber() != books.getTotalPages() - 1 && books.getTotalPages() > 1}"
               th:href="@{/books/search(keyword=${param.keyword}, page=${books.getNumber() + 1}, before=${param.before})}"
               aria-label="Next">
                <span class="sr-only">Next</span>
            </a>
            <span class="page-link"
                  th:if="${books.getNumber() == books.getTotalPages() - 1 && books.getTotalPages() > 1}"
                  aria-disabled="true" aria-label="Next">
                <span class="sr-only">Next</span>
            </span>
        </li>
    </ul>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let descriptionElements = document.getElementsByClassName("description");
        let maxLength = 200;

        for (let i = 0; i < descriptionElements.length; i++) {
            let descriptionElement = descriptionElements[i];
            if (descriptionElement.textContent.length > maxLength) {
                let shortenedText = descriptionElement.textContent.substring(0, maxLength) + "...";
                descriptionElement.textContent = shortenedText;
            }
        }
    });
</script>

</body>
</html>
