<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>현인의 서재</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<div class="container-fluid">
  <div class="row">
    <div th:replace="~{fragments/sidebar :: sidebar(${selectedMenu}, ${isAdmin})}"/>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 style="margin-top: 50px; margin-bottom: 30px; margin-left: 20px; font-family: SeoulNamsanM;">개인 정보 수정 완료</h3>
      </div>
      <form class="form-signin" th:action="@{/account/myinfo}" method="post" th:object="${member}">

        <h1 class="h3 mb-3 fw-normal">내 정보 수정</h1>
        <hr>

        <input type="hidden" class="form-control" th:field="*{id}" th:readonly="readonly" >
        <input type="hidden" class="form-control" th:field="*{role}" th:readonly="readonly" >

        <div class="mb-3">
          <label th:for="username">이메일</label>
          <input type="email" class="form-control" th:field="*{username}" th:readonly="readonly" >
        </div>

        <div class="mb-3">
          <label th:for="nickname">닉네임</label>
          <input type="text" class="form-control" th:field="*{nickname}" oninput="nicknameModify()">
          <span class="nickname_ok">사용 가능한 이름입니다.</span>
          <span class="nickname_already">누군가 이 이름을 사용하고 있어요.</span>
        </div>

        <label class="mb-3 form-label" for="birth">생년월일</label>
        <div class="mb-3" id="birth" onchange="checkAgeModify()">
          <div class="birth dropdown">
            <select  class="form-control" id="year" name="year">
              <option th:value="*{year}" th:text="*{year}" selected></option>
              <option value="">년(YY)</option>
              <th:block th:each="a: ${#numbers.sequence(2001,1900)}">
                <option th:value="${a}" th:text="${a}"></option>
              </th:block>
            </select>
          </div>

          <div class="birth mx-1 dropdown">
            <select  class="form-control" id="month" name="month">
              <option th:value="*{month}" th:text="*{month}" selected></option>
              <option value="">월(mm)</option>
              <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1,12),2)}">
                <option class="dropdown-item" th:value="${month}" th:text="${month}"></option>
              </th:block>
            </select>
          </div>

          <div class="birth dropdown">
            <select  class="form-control" id="day" name="day">
              <option th:value="*{day}" th:text="*{day}" selected></option>
              <option value="">일(dd)</option>
              <th:block th:each="day: ${#numbers.listFormatInteger(#numbers.sequence(1,31),2)}">
                <option class="dropdown-item" th:value="${day}" th:text="${day}"></option>
              </th:block>
            </select>
          </div>
          <span id="birth_check_msg"></span>
        </div>

        <div class="mb-3">
          <label for="age">나이</label>
          <input type="text" class="form-control" id="age" th:readonly="readonly" >
        </div>

        <div class="mb-3">
          <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return modifyCheckAll()">수정</button>
        </div>

        <div class="mb-3">
          <a type="button" style="color:white" class="w-100 btn btn-lg btn-secondary" onclick="window.history.back();">취소</a>
        </div>

      </form>
      <!--            <div class="table-responsive">-->
      <!--                <table class="table table-hover">-->
      <!--                    <thead>-->
      <!--                    <tr>-->
      <!--                        <th scope="col" style="width: 15%">이미지</th>-->
      <!--                        <th scope="col" style="width: 20%">제목</th>-->
      <!--                        <th scope="col" style="width: 15%">저자</th>-->
      <!--                        <th scope="col" style="width: 15%">대출일</th>-->
      <!--                        <th scope="col" style="width: 15%">반납일</th>-->
      <!--                        <th scope="col" style="width: 10%">상태</th>-->
      <!--                        <th scope="col" style="width: 15%"></th>-->
      <!--                    </tr>-->
      <!--                    </thead>-->
      <!--                    <tbody>-->
      <!--                    <tr>-->
      <!--                        <td>1,001</td>-->
      <!--                        <td>처음부터 제대로 배우는 스프링 부트</td>-->
      <!--                        <td>data</td>-->
      <!--                        <td>2023-06-21</td>-->
      <!--                        <td>2023-06-27</td>-->
      <!--                        <td>대출중</td>-->
      <!--                        <td>반납   연장</td>-->
      <!--                    </tr>-->
      <!--                    <tr>-->
      <!--                        <td>1,002</td>-->
      <!--                        <td>placeholder</td>-->
      <!--                        <td>irrelevant</td>-->
      <!--                        <td>visual</td>-->
      <!--                        <td>layout</td>-->
      <!--                    </tr>-->
      <!--                    <tr>-->
      <!--                        <td>1,003</td>-->
      <!--                        <td>data</td>-->
      <!--                        <td>rich</td>-->
      <!--                        <td>dashboard</td>-->
      <!--                        <td>tabular</td>-->
      <!--                    </tr>-->
      <!--                    <tr>-->
      <!--                        <td>1,003</td>-->
      <!--                        <td>information</td>-->
      <!--                        <td>placeholder</td>-->
      <!--                        <td>illustrative</td>-->
      <!--                        <td>data</td>-->
      <!--                    </tr>-->
      <!--                    </tbody>-->
      <!--                </table>-->
      <!--            </div>-->
    </main>
  </div>
</div>


</body>
</html>
