<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <div th:fragment="header">-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"-->
<!--          href="../../static/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/sidebar.css}">-->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
    <!--    </div>-->
</head>
<body>
<div th:fragment="header">
    <header class="header">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="col">
                    <img src="/images/hyundai-autoever.png" alt="hyundai-autoever-logo" th:width="100" th:height="50">
                </div>
                <div class="col">
                    <h2 class="header-title">현인의 서재</h2>
                </div>
                <div class="col-md-auto">

                    <button class="btn btn-primary" type="button"
                            th:onclick="|location.href='@{/user/login}'|">Log in
                    </button>
                    <!--                    <a href="/user/login" class="btn btn-primary">Log in</a>-->
                    <button class="btn btn-primary" type="button"
                            th:onclick="|location.href='@{/user/signup}'|">Sign up
                    </button>
                    <!--                    <a href="/user/signUp" class="btn btn-primary">Sign up</a>-->
                </div>
            </div>
        </div>
    </header>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>