<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<body>
<nav th:fragment="sidebar (selectedMenu)" id="sidebarMenu"
     class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <a>Book</a>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedMenu == 'book-list'} ? 'active' : ''" th:href="@{/books}">
                    <span data-feather="home" class="align-text-bottom"></span>
                    전체 도서 목록
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedMenu == 'member-request-book'} ? 'active' : ''"
                   th:href="@{/books/request}">
                    <span data-feather="file" class="align-text-bottom"></span>
                    도서 신청
                </a>
            </li>
            <hr/>
            <a>MyPage</a>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedMenu == 'member-loan-history'} ? 'active' : ''"
                   th:href="@{/books/loan}">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    대출 현황
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedMenu == 'member-request-history'} ? 'active' : ''"
                   th:href="@{/books/request-history}">
                    <span data-feather="users" class="align-text-bottom"></span>
                    도서 신청 내역
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${selectedMenu == 'member-edit-info'} ? 'active' : ''"
                   th:href="@{/member/edit}">
                    <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                    개인 정보 수정
                </a>
            </li>
            <!--            <div sec:authorize="hasRole('ADMIN')">-->
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <hr/>
                <a>AdminPage</a>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${selectedMenu == 'admin-book-list'} ? 'active' : ''"
                       th:href="@{/admin/books}">
                        사내 도서 목록
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${selectedMenu == 'admin-loan-status'} ? 'active' : ''"
                       th:href="@{/admin/loan-status}">
                        <span data-feather="users" class="align-text-bottom"></span>
                        대출 현황
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${selectedMenu == 'admin-request-status'} ? 'active' : ''"
                       th:href="@{/admin/request-status}">
                        <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                        도서 요청 목록
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${selectedMenu == 'admin-new-book'} ? 'active' : ''"
                       th:href="@{/admin/new-book}">
                        <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                        신규 도서 추가
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${selectedMenu == 'admin-member-management'} ? 'active' : ''"
                       th:href="@{/admin/members}">
                        <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                        사용자 관리
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>
</div>
</div>
</body>
<script>
    $(function () {
        // actvie 활성화
        $(".nav-item > .active").css("color", "#2470dc");

        $('.nav-link').click(function () {
            // .nav-link 클릭시 이전의 active 값 해제 후,
            $(".nav-item > .active").css("color", "black");
            $('.nav-link').removeClass('active');

            // 클릭한 위치 active 적용
            $(this).addClass('active');
            $(".nav-item > .active").css("color", "#2470dc");
        });
    });
</script>
</html>