<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현인의 서재</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: ~{header}}"/>
<img src="/images/main-img.jpg" alt="Main Image" th:width="1261" th:height="250" style="width: 100%;">
<hr class="my-4" th:marginheight="50">
<h2 style="margin-left: 20px">신규 도서</h2>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 ">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/images/javaBook.jpg" width="100%" height="225" style="width: 100%;">
                    <div class="card-body">
                        <p class="card-text">JAVA의 정석</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/images/javaBook.jpg" width="100%" height="225" style="width: 100%;">
                    <div class="card-body">
                        <p class="card-text">JAVA의 정석</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/images/javaBook.jpg" width="100%" height="225" style="width: 100%;">
                    <div class="card-body">
                        <p class="card-text">JAVA의 정석</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/images/javaBook.jpg" width="100%" height="225" style="width: 100%;">
                    <div class="card-body">
                        <p class="card-text">JAVA의 정석</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
